@model PersonInfo

<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Update Person</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="DOB"></label>
            <input asp-for="DOB" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Profession"></label>
            <input asp-for="Profession" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="JobDescription"></label>
            <input asp-for="JobDescription" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="PersonInfo" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>